.red {
   
    height: 50px;

    background-color: red;
   
}
.blue {
    height: 50px;
    background-color: blue;
   
}
.brown {
   height: 50px;
   
    background-color: brown;
   
}
.pink {
    height: 50px;
   
    background-color: pink;
}