.orange {
    background-color: orange;
    margin-top:10px;
    height: 300px;
    width: 300px;
    text-align: center;
}
.green {
    background-color: green;
    margin-top:10px;
    height: 300px;
    width: 300px;
    text-align: center;
}

.blue {
    background-color: blue;
    margin-top:10px;
    height: 300px;
    width: 300px;
    text-align: center;
}
.red {
    background-color: red;
    margin-top:10px;
    height: 300px;
    width: 300px;
    text-align: center;
}
.yellow {
    background-color: yellow;
    margin-top:10px;
    height: 300px;
    width: 300px;
    text-align: center;
}
.brown {
    background-color: brown;
    margin-top:10px;
    height: 300px;
    width: 300px;
    text-align: center;
}