.brown {
    background-color: brown;
    margin-top:10px;
    height: 500px;
    width: 1000px;
    text-align: center;
}
.gray {
    background-color: gray;
    margin-top:10px;
   height: 500px;
    width: 1000px;
    text-align: center;
}

.blue {
    background-color: blue;
    margin-top:10px;
    height: 500px;
    width: 1000px;
    text-align: center;
}
.red {
    background-color: red;
    margin-top:10px;
    height: 500px;
    width: 1000px;
    text-align: center;
}
.yellow {
    background-color: yellow;
    margin-top:10px;
   height: 500px;
    width: 1000px;
    text-align: center;
}
.pink {
    background-color: pink;
    margin-top:10px;
    height: 500px;
    width: 1000px;
    text-align: center;
}