<div class="container">
    <div class="row">
        <div class="col-md-4">
            <input ng-model="title" placeholder="Name" class="form-control">
        </div>
        <div class="col-md-4 ">
            <input ng-model="description" placeholder="description" class="form-control">

        </div>
        <br>
        <div class="col-md-2 ">
            <button ng-click="add()" class="glyphicon glyphicon-plus btn btn-success"></button>
            <br>
            <a href="#/home">show your posts</a>
        </div>
    </div>
</div>