<div>
    <div class="container" ng-init="loadStory()">
        <div class="row text-center">
            <div class="col-md-12">
                <img ng-src="{{movie.background_image}}">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <div>{{movie.title}}</div>
                <div>{{movie.year}}</div>
                <div>{{movie.genres}}</div>
                <div>{{movie.synopsis}}</div>
            </div>
        </div>
    </div>
</div>