
.dFg p{
color: red;
font-size:45px;
    padding-bottom: 35px;
}
.dFg p{
color: red;
font-size:45px;
    padding-bottom: 35px;
}
h1 ,h4 {
    color:pink;
    background: pink;
    Border-color:black;
    
}
h2 ,h3 {
    color:greenyellow;
    background: green;
    Border-color:black;
    
}