h4   {
    color: white;
       text-align:left;
    
}
 h5  {
    color: white;
       text-align:right;
    
}
h1  {
    color: white;
    font-size:40px;
     text-align:center;
}
 h3  {
    color: white;
       text-align:center;
    
}

.black {
    background-color: black;
    height: 40px;
}
.white {
    background-color: white;
    padding-bottom: 10px;
    height: 30px;
}
.green {
    background-color: green;
    padding-top: 10px;
    height: 300px;
    text-align: center
}
a {
     color: white;
       text-align:right;
}
hr {
    color:white;
    width:10px;
    height: 20px;
    text-align: center;
}